@model Shusha_project_BackUp.Employees

@{
    ViewData["Title"] = "إنشاء";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div dir="rtl">
<h1>إنشاء</h1>

<h4>الموظفين</h4>
<hr />
<div class="row" dir="rtl">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label">اسم الموظف</label>
                <input asp-for="emp_name" class="form-control" />
                <span asp-validation-for="emp_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NID" class="control-label">الرقم القومي</label>
                <input asp-for="NID" class="form-control" />
                <span asp-validation-for="NID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phoneNumber" class="control-label">رقم الهاتف</label>
                <input asp-for="phoneNumber" class="form-control" />
                <span asp-validation-for="phoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="إنشاء" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">العودة إلى القائمة</a>
</div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
