@model Shusha_project_BackUp.Data.MedicineUsed

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div dir="rtl" >
<h1>تعديل</h1>

<h4>تفاصيل الدواء المستخدم</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="name" class="control-label">الاسم</label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="purpose" class="control-label">الغرض </label>
                <input asp-for="purpose" class="form-control" />
                <span asp-validation-for="purpose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quantityUsed" class="control-label">الكمية المستخدمة</label>
                <input asp-for="quantityUsed" class="form-control" />
                <span asp-validation-for="quantityUsed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger">التاريخ</span>
            </div>
            <div class="form-group">
                <label asp-for="MedicineID" class="control-label">اسم الدواء</label>
                <select asp-for="MedicineID" class="form-control" asp-items="ViewBag.MedicineID"></select>
                <span asp-validation-for="MedicineID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="حفظ" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">العودة الى القائمة</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</div>